{% extends 'base.html' %}

{% block content %}
<h3>IP Address</h3>
<form method="post">
  {{ form.csrf_token }}
  <dl>
    <p class="ml-10">Static IP Address</p>

    {% for field in form %}
      {% if field.label != "CSRF Token" %}
        <dt>
          {{ field.label }}
        </dt>
        <dd>
          {{ field }}
        </dd>
        <br>
      {% endif %}
    {% endfor %}
    <br><br><br>

    <p class="ml-10">Get IP Address from DHCP</p>

    <dt>
      <button class="m-10 btn btn-brimary">Save</button>
    </dt>
  </dl></form>

  {% endblock %}
