{% extends 'base.html' %}

{% block content %}
<h3>Tunnel</h3>
<form method="post">
  {{ form.csrf_token }}
  <p>Tunnel Type?</p>
  {{ form.tunnel_type }}

  <p>Endpoint</p>
  <p class="ml-10">Server</p>
  <div>
    <dl>
      <dt>Port:</dt>
      <dd>443 {{ form.server_port_type }}</dd>

      <dt>Server Subnets:</dt>
      <dd>
        {{ form.server_subnet_1 }}
      </dd>
      <dt></dt>
      <dd>
        {{ form.server_subnet_2 }}
      </dd>

      <dt>Client Subnets:</dt>
      <dd>
        {{ form.client_subnet_1 }}
      </dd>
      <dt></dt>
      <dd>
        {{ form.client_subnet_2 }}
      </dd>
    </dl>
  </div>
  {{ form.mdns }} {{ form.mdns.label }}
  <br>
  {{ form.pimd }} {{ form.pimd.label }}
  <br>
  <button class="m-10">Save</button>

</form>

{% endblock %}
